<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Release builds must not use cleartext emulator HTTP. -->
    <application
        android:usesCleartextTraffic="false"
        tools:replace="android:usesCleartextTraffic" />
</manifest>
