<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for Flutter profile/hot-reload tooling and local emulator testing. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/profile_network_security_config"
        tools:replace="android:usesCleartextTraffic,android:networkSecurityConfig" />
</manifest>
